.not-found-header {
  background-color: rgb(8, 79, 45);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.not-found-header .header-link {
  display: inline-block;
  padding: 6px 9.5px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.not-found-header .header-link:hover {
  border: 1px solid white;
}

.not-found-header .logo {
  height: 26px;
  margin-top: 1px;
}

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  margin-top: 60px; /* to account for fixed header */
}

.not-found-page h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #e74c3c;
}

.not-found-page p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.not-found-page a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.not-found-page a:hover {
  text-decoration: underline;
}
