body {
  font-family: Arial, sans-serif;
  background-color: #131417;
  background-image: radial-gradient(circle 0.5px at 0.5px 0.5px, rgba(6, 182, 212, 0.4) 0.5px, transparent 0.5px);
  background-size: 8px 8px;
  background-repeat: repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}