.animated-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
}

.animated-text {
  color: white;
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.4;
  /* flex-wrap: wrap; */
}

.text {
  display: inline-block;
  white-space: pre;
}

.fc-btn {
  background-color: rgb(38, 38, 38);
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  cursor: pointer;
}
