@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: rgb(64, 64, 64);
  }
}

@theme inline {
  --shadow-aceternity:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1), 
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);

  --color-primary: var(--color-neutral-800);
  --color-secondary: var(--color-neutral-500);
}

.dark {
  --color-primary: var(--color-neutral-100);
  --color-secondary: var(--color-neutral-400);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
