.card-page {
  min-height: 100vh;
  /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  /* background-color: #f3f4f6; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 18rem;
  min-height: 26rem;
  height: 30rem;
  border-radius: 0.75rem;
  background-color: white;
  box-shadow: 
    0 1px 1px rgba(0, 0, 0, 0.5),
    0 4px 6px rgba(34, 42, 53, 0.04),
    0 24px 68px rgba(47, 48, 55, 0.05),
    0 2px 3px rgba(0, 0, 0, 0.04);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: 700;
  font-size: 14px;
}

.card-content {
  font-size: 13px;
  margin-top: 2px;
  color: #a3a3a3;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-button {
  color: black;
  border: none;
  border-radius: 0.375rem;
  padding: 6px 11px;
  font-size: 10px;
  cursor: pointer;
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 
    0 1px 1px rgba(0, 0, 0, 0.5),
    0 4px 6px rgba(34, 42, 53, 0.04),
    0 24px 68px rgba(47, 48, 55, 0.05),
    0 2px 3px rgba(0, 0, 0, 0.04);
}

.card-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  margin-top: 10px;
  border: #ebe7e7 0.25px solid;
  border-radius: 0.5rem;
  position: relative;
}

.hover-details {
  position: absolute;
  inset: 0;
  height: 'full';
  width: 'full';
  background-color: white;
  border-radius: 0.5rem;
  border-bottom: 1px solid #000000;
  box-shadow: 
    0 0 0 1px rgba(0, 0, 0, 0.1),
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 10px 15px rgba(0, 0, 0, 0.1),
    0 -2px 4px rgba(0, 0, 0, 0.05);
}

.components {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px 10px;
  border-bottom: 1px solid #282626;
  margin: 0;
}

.components:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
}

.icon-message {
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
  box-shadow: 
  0 1px 1px rgba(0, 0, 0, 0.5),
  0 4px 6px rgba(34, 42, 53, 0.04),
  0 24px 68px rgba(47, 48, 55, 0.05),
  0 2px 3px rgba(0, 0, 0, 0.04);
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.text-content {
  flex: 1;
}

.text-title {
  /* margin: 0; */
  font-size: 14px;
  font-weight: 600;
  color: #525252;
}

.text-subtitle {
  font-size: 12px;
  color: #828080;
  margin: 2px 0 4px 0;
}
